<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <title>Điện Thoại Thông Minh</title>
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-default ">
        <div class="container-fluid">
           <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>   
                   <span class="icon-bar"></span>                        
                 </button>
              <a class="navbar-brand" href="../index.html">HUEICSTORE&trade;</a>
           </div>
           <div class="collapse navbar-collapse" id="myNavbar">
           <ul class="nav navbar-nav ">
              <li class="dropdown">
                 <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sản Phẩm
                 <span class="caret"></span></a>
                 <ul class="dropdown-menu">
                    <li><a href="#">LAPTOP</a></li>
                    <li><a href="#">SMARTPHONE</a></li>
                    <li><a href="#">MÁY TÍNH BẢNG</a></li>
                 </ul>
              </li>
              <li><a href="#">LIÊN HỆ</a></li>
              <li><a href="#">BIG DEALS</a></li>
           </ul>
           <!-- menu phải  -->
           <ul class="nav navbar-nav navbar-right">
               <button class="btn btn-danger navbar-btn" data-toggle="modal" data-target="#myModal">
                 <li>Đăng Nhập</li></button>
               <form class="navbar-form navbar-right">
                   <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search">
                      <div class="input-group-btn">
                         <button class="btn btn-default" type="submit">
                         <i class="glyphicon glyphicon-search"></i>
                         </button>
                      </div>
                   </div>
                </form>
             </ul>
           </div>
        </div>
     </nav>
    </nav>
    <br><br><br>
     <div class="header">
        <div class="container text-center">
            <h3 class="bg-success"><b>Điện Thoại Thông Minh</b></h3>
         </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                   <div class="panel-heading">B-Phone</div>
                   <div class="panel-body"><img src="../img/b-phone.png" class="img-responsive" style="height:180px" alt="Image"></div>
                   <div class="panel-footer">
                      <s>PRICE : 10.000.000</s> 
                      <h3>8.999.000</h3>
                      <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#details-4">Detail</button>
                   </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                   <div class="panel-heading">Samsung Galaxy J3 Prime</div>
                   <div class="panel-body"><img src="../img/j3-prime.png" class="img-responsive" style="height:180px" alt="Image"></div>
                   <div class="panel-footer">
                      <s>PRICE : 7.000.000</s> 
                      <h3>5.999.000</h3>
                      <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#details-5">Detail</button>
                   </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                   <div class="panel-heading">Nokia 8</div>
                   <div class="panel-body"><img src="../img/nokia8.png" class="img-responsive" style="height:180px" alt="Image"></div>
                   <div class="panel-footer">
                      <s>PRICE : 13.000.000</s> 
                      <h3>10.999.000</h3>
                      <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#details-7">Detail</button>
                   </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                   <div class="panel-heading">Xperia ZX Premium</div>
                   <div class="panel-body"><img src="../img/xz-pre.png" class="img-responsive" style="height:180px" alt="Image"></div>
                   <div class="panel-footer">
                      <s>PRICE : 18.000.000</s> 
                      <h3>14.999.000</h3>
                      <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#details-9">Detail</button>
                   </div>
                </div>
             </div>
             <div class="col-sm-4">
                <div class="panel panel-primary">
                   <div class="panel-heading">Vivo 7+</div>
                   <div class="panel-body"><img src="../img/vivo7p.png" class="img-responsive" style="height:180px" alt="Image"></div>
                   <div class="panel-footer">
                      <s>PRICE : 9.000.000</s> 
                      <h3>6.999.000</h3>
                      <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#details-8">Detail</button>
                   </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-primary">
                   <div class="panel-heading">Điện Thoại Samsung Galaxy Note 8 </div>
                   <div class="panel-body"><img src="../img/note-fe.png" class="img-responsive" style="height:180px" alt="Image"></div>
                   <div class="panel-footer">
                      PRICE :<s>19.990.000</s> 
                      <h3>15.990.000</h3>
                      <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#details-1">Detail</button>
                   </div>
                </div>
             </div>
        </div>
    </div>

    <!-- details -->
    
    <div class="modal fade-details1" id="details-1" tabindex="-1" role="dialog" aria-labelledby="details-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
           <div class="modal-content">
              <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-labelledby="Close">
                 <span aria-hidden="true">&times;</span>
                 </button>
                 <h4 class="modal-title text-center">Note FE</h4>
              </div>
              <div class="modal-body">
                 <div class="container-fluid">
                    <div class="row">
                       <div class="col-sm-6">
                          <div class="center-block">
                             <img src="../img/note-fe.png" alt="Galaxy Note 8" srcset="" class="details img-responsive">
                          </div>
                       </div>
                       <div class="col-sm-6">
                          <H4>DETAILS</H4>
                          <P>CẤU HÌNH ĐỂ Ở ĐÂY -_- </P>
                          <P>price : </P>
                          <P>BRAND : </P>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="modal-footer">
                 <button class="btn btn-default" data-dismiss="modal">Close</button>
                 <button class="btn btn-warning" type="submit"><span class="glyphicon glyphicon-cart"> </span>Thêm Vào Giỏ Hàng</button>
              </div>
           </div>
        </div>
    </div>

    <div class="modal fade-details1" id="details-4" tabindex="-1" role="dialog" aria-labelledby="details-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
           <div class="modal-content">
              <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-labelledby="Close">
                 <span aria-hidden="true">&times;</span>
                 </button>
                 <h4 class="modal-title text-center">B-Phone</h4>
              </div>
              <div class="modal-body">
                 <div class="container-fluid">
                    <div class="row">
                       <div class="col-sm-6">
                          <div class="center-block">
                             <img src="../img/b-phone.png" alt="Galaxy Note 8" srcset="" class="details img-responsive">
                          </div>
                       </div>
                       <div class="col-sm-6">
                          <H4>DETAILS</H4>
                          <P>CẤU HÌNH ĐỂ Ở ĐÂY -_- </P>
                          <P>price : </P>
                          <P>BRAND : </P>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="modal-footer">
                 <button class="btn btn-default" data-dismiss="modal">Close</button>
                 <button class="btn btn-warning" type="submit"><span class="glyphicon glyphicon-cart"> </span>Thêm Vào Giỏ Hàng</button>
              </div>
           </div>
        </div>
    </div>

    <div class="modal fade-details1" id="details-5" tabindex="-1" role="dialog" aria-labelledby="details-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
           <div class="modal-content">
              <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-labelledby="Close">
                 <span aria-hidden="true">&times;</span>
                 </button>
                 <h4 class="modal-title text-center">Samsung Galaxy J3 Prime</h4>
              </div>
              <div class="modal-body">
                 <div class="container-fluid">
                    <div class="row">
                       <div class="col-sm-6">
                          <div class="center-block">
                             <img src="../img/j3-prime.png" alt="Galaxy Note 8" srcset="" class="details img-responsive">
                          </div>
                       </div>
                       <div class="col-sm-6">
                          <H4>DETAILS</H4>
                          <P>CẤU HÌNH ĐỂ Ở ĐÂY -_- </P>
                          <P>price : </P>
                          <P>BRAND : </P>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="modal-footer">
                 <button class="btn btn-default" data-dismiss="modal">Close</button>
                 <button class="btn btn-warning" type="submit"><span class="glyphicon glyphicon-cart"> </span>Thêm Vào Giỏ Hàng</button>
              </div>
           </div>
        </div>
    </div>

    <div class="modal fade-details1" id="details-9" tabindex="-1" role="dialog" aria-labelledby="details-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
           <div class="modal-content">
              <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-labelledby="Close">
                 <span aria-hidden="true">&times;</span>
                 </button>
                 <h4 class="modal-title text-center">Xperia ZX Premium</h4>
              </div>
              <div class="modal-body">
                 <div class="container-fluid">
                    <div class="row">
                       <div class="col-sm-6">
                          <div class="center-block">
                             <img src="../img/xz-pre.png" alt="Galaxy Note 8" srcset="" class="details img-responsive">
                          </div>
                       </div>
                       <div class="col-sm-6">
                          <H4>DETAILS</H4>
                          <P>CẤU HÌNH ĐỂ Ở ĐÂY -_- </P>
                          <P>price : </P>
                          <P>BRAND : SONY </P>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="modal-footer">
                 <button class="btn btn-default" data-dismiss="modal">Close</button>
                 <button class="btn btn-warning" type="submit"><span class="glyphicon glyphicon-cart"> </span>Thêm Vào Giỏ Hàng</button>
              </div>
           </div>
        </div>
     </div>
    <div class="modal fade-details1" id="details-7" tabindex="-1" role="dialog" aria-labelledby="details-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
           <div class="modal-content">
              <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-labelledby="Close">
                 <span aria-hidden="true">&times;</span>
                 </button>
                 <h4 class="modal-title text-center">Nokia 8</h4>
              </div>
              <div class="modal-body">
                 <div class="container-fluid">
                    <div class="row">
                       <div class="col-sm-6">
                          <div class="center-block">
                             <img src="../img/nokia8.png" alt="Galaxy Note 8" srcset="" class="details img-responsive">
                          </div>
                       </div>
                       <div class="col-sm-6">
                          <H4>DETAILS</H4>
                          <P>CẤU HÌNH ĐỂ Ở ĐÂY -_- </P>
                          <P>price : </P>
                          <P>BRAND : NOKIA </P>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="modal-footer">
                 <button class="btn btn-default" data-dismiss="modal">Close</button>
                 <button class="btn btn-warning" type="submit"><span class="glyphicon glyphicon-cart"> </span>Thêm Vào Giỏ Hàng</button>
              </div>
           </div>
        </div>
    </div>
   <div class="modal fade-details1" id="details-8" tabindex="-1" role="dialog" aria-labelledby="details-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
           <div class="modal-content">
              <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-labelledby="Close">
                 <span aria-hidden="true">&times;</span>
                 </button>
                 <h4 class="modal-title text-center">Vivo 7 Plus</h4>
              </div>
              <div class="modal-body">
                 <div class="container-fluid">
                    <div class="row">
                       <div class="col-sm-6">
                          <div class="center-block">
                             <img src="../img/vivo7p.png" alt="Galaxy Note 8" srcset="" class="details img-responsive">
                          </div>
                       </div>
                       <div class="col-sm-6">
                          <H4>DETAILS</H4>
                          <P>CẤU HÌNH ĐỂ Ở ĐÂY -_- </P>
                          <P>price : </P>
                          <P>BRAND : Vivo </P>
                       </div>
                    </div>
                 </div>
            </div>
              <div class="modal-footer">
                 <button class="btn btn-default" data-dismiss="modal">Close</button>
                 <button class="btn btn-warning" type="submit"><span class="glyphicon glyphicon-cart"> </span>Thêm Vào Giỏ Hàng</button>
              </div>
           </div>
        </div>
     </div>
    <!-- end -->
    <br><br><br><hr><br><br>
    
          <footer class="container-fluid text-center">
             <form class="form-inline"> Contact Us !
                <input type="text" class="form-control" size="50" placeholder="">
                <button type="button" class="btn btn-danger">SUBMIT</button>
                <br>
             </form>
             <br><br>
             <h4>HUEIC CO.LTD , SĐT :  0234 3822 813 <br> Address : 70 Nguyễn Huệ, Vĩnh Ninh, Tp. Huế, Thừa Thiên Huế</h4>
          </footer>
</body>
</html>